<h3>{{ "The following classes will be imported" | Translate }}:</h3>
<div class="Clear"></div>
<fieldset class="TableLike FixedSmall Narrow">

{% for Class in Classes %}

    <p class="Value">{{ Class }}</p>

{% endfor %}

</fieldset>

{% if Roles %}

<h3>{{ "The following roles will be imported" | Translate }}:</h3>
<div class="Clear"></div>
<fieldset class="TableLike FixedSmall Narrow">

    {% for Role in Roles %}

    <p class="Value">{{ Role }}</p>

    {% endfor %}

</fieldset>

{% endif %}

<p style="display: block; max-width: 450px;">{{ "Note that also corresponding dynamic fields and GeneralCatalog classes will be created and there is no automatic removal." | Translate }}</p>
<div class="Clear"></div>
<p style="text-align: center;">{{ "Do you want to proceed?" | Translate}}</p>
